.user-avatar-icon{
/*     height: 100px; 
    width: 100px; */
    background-color: rgb(230 230 230);
}

.card-profile{
    width: 750px;
    border-radius: 1rem;
    border: 2px solid #000;
    overflow: hidden;
}